[

 {sasl, [
    {sasl_error_logger, {file, "sasl.log"}}
 ]},

 {zvz, [
   {http_port, 8090},
   {tcp_port, 8091},
   {initial_gold, 25},
   {units, [
     {grunt, [{cost, 5}, {move, 3}, {attack, 5}, {health, 20}]},
     {giant, [{cost, 15}, {move, 2}, {attack, 10}, {health, 50}]},
     {scout, [{cost, 10}, {move, 6}, {attack, 10}, {health, 10}]}
   ]}
 ]}

].